@{
    ViewData["Title"] = "SignUp";
    ViewData["Subtitle"] = "School Portal";
    ViewData["PageOne"] = "Login";
    ViewData["PageTwo"] = "SignUp";
}
@model Student

<div class="text-center  p-5 mb-5" style="width:35%; margin-left: 30%; background-color: #EDEDED; border-radius: 5%;margin-top: 100px;">
    <div class="text-danger">
        @ViewBag.fillError
    </div>
     <form asp-controller="Login" asp-action="AddStudent" method="post">


        <input class="w-100 form-control" asp-for="Name" type="text" required placeholder="Name"/>

        <br />

        <input class="w-100 form-control" asp-for="Email" type="email" required placeholder="Email address" />

        <br />

        <input class="w-100 form-control" asp-for="Password" type="password" required placeholder="Password"/>
        <br />


        <br />

        <button class="w-100  btn btn-dark type="submit"> SignUp </button>
     
     </form>

</div>